div#root {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  position: relative;
}
.app--container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}
.content--container {
  width: 50rem;
  max-width: 90%;
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
