.img--container {
  position: relative;
  width: 20%;

  height: auto;

  padding-bottom: 20%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
#profile__img {
  object-fit: cover;
  width: 100%;

  height: 100%;
  position: absolute;
}
.overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #344054b3;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.socials__container {
  width: 100%;

  position: relative;
}
.socials__btn {
  width: 100%;
  background-color: #eaecf0;
  border: transparent;
  padding: 24px 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaecf0;
}
.socials__btn:hover {
  background-color: #d0d5dd;
}
.socials__btn:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ebe9fe;
  border: 1px solid #98a2b3;
}
#slack {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}
.icons {
  width: 1rem;
  height: auto;
}
.icon--container {
  margin-top: 4%;
  width: 7%;
  display: flex;
  justify-content: space-between;
}
.sharemobile {
  display: none;
}

.share-icons--container {
  position: relative;
  align-self: flex-end;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 1;
  border: 1px dashed #d0d5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.share-icons--container:hover {
  background-color: #f9fafb;
}
.share-icons--container:focus {
  box-shadow: 0px 0px 0px 4px #f2f4f7;
}

.camera {
  width: 20%;
  height: auto;
  margin-bottom: 5%;
}
@media (max-width: 786px) {
  .sharemobile {
    display: block;
    width: auto;
    height: auto;
  }
  .shareweb {
    display: none;
  }
  .icon--container{
    width: 20%;
  }
}
